<div>
    <select class="form-control" style="width: 300px" [(ngModel)]="filterMode">
        <option value="SHOW_ALL">SHOW ALL</option>
        <option value="SHOW_FORGOT">SHOW FORGOT</option>
        <option value="SHOW_MEMORIZED">SHOW MEMORIZED</option>
    </select>
    <br>
    <button *ngIf="!shouldShowForm" (click)="toggleShouldShowForm();" class="btn btn-success form-control" style="width: 300px">
        Add new word
    </button>
    <div *ngIf="shouldShowForm" class="form-group" style="width: 300px; padding-top: 20px">
        <input class="form-control" placeholder="English" [(ngModel)]="txtEn">
        <br>
        <input class="form-control" placeholder="Vietnamese" [(ngModel)]="txtVn">
        <br>
        <button class="btn btn-success form-control" (click)="addWord();">
            Add
        </button>
        <br>
        <br>
        <button class="btn btn-warning form-control" (click)="toggleShouldShowForm();">
            Cancel
        </button>
    </div>
    <div *ngFor="let word of filteredWords">
        <h3>{{ word.isMemorized ? '------' : word.en }}</h3>
        <p>{{word.vn}}</p>
        <button class="btn btn-warning" (click)="remove(word._id)">
            Remove
        </button>
        <button class="btn btn-danger" *ngIf="word.isMemorized" (click)="toggle(word._id)">
            Forgot
        </button>
        <button class="btn btn-success" *ngIf="!word.isMemorized" (click)="toggle(word._id)">
            Memorized
        </button>
    </div>
</div>